.root {
  @apply inline-flex items-center justify-center text-center font-bold rounded shadow cursor-pointer;
}

.sm {
  @apply px-3 py-1 text-sm;
}

.md {
  @apply px-10 py-3 text-base;
}

.purple {
  @apply text-white bg-purple-500 hover:bg-purple-600 focus:bg-purple-600;
}

.sd {
  @apply inline-flex px-6 py-2 text-white bg-sd-primary hover:bg-sd-primary-hover border-2 border-transparent rounded-full shadow-lg hover:shadow-xl space-x-2;
}

.sdOutline {
  @apply inline-flex px-6 py-2 text-primary text-white hover:bg-accents-2 bg-transparent border-2 border-accents-8 rounded-full shadow-lg hover:shadow-xl space-x-2;
}

.isLoading {
  @apply cursor-not-allowed;
}

.isDisabled,
.isDisabled:hover {
  @apply opacity-40 cursor-not-allowed;
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}
